@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
body.dark {
  --tw-bg-opacity: 1;
  --tw-bg-color: rgba(51, 51, 51, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  --tw-text-color: rgba(245, 245, 245, var(--tw-text-opacity));
}

body.light {
  --tw-bg-opacity: 1;
  --tw-bg-color: rgba(245, 245, 245, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  --tw-text-color: rgba(51, 51, 51, var(--tw-text-opacity));
}
